<!DOCTYPE html>
<html>
  <head>
    <title> My Site</title>
    <link rel="stylesheet" href="templates/style.css">
  </head>
  <body>
    <header>

      <a href="#" class="logo">THE WAY</a>

      <nav>
        <ul> 
          <li><a href="#">Fasion</a></li>
          <li><a href="#">Beauty</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Life</a></li>
          <li><a href="#">Win</a></li>
        </ul>
      </nav>

    </header>
    
    <img id="banner" src="https://7cbd63c0-d4ae-49b0-ae03-c73706af4dff-00-3akp4940zer9y.janeway.replit.dev/static/foto2.jpg" height="320" width="1500">
    <h1> YOUR LIFE - YOUR CHOICES </h1>
    <h2>Why you need us?</h2><p>jdfddjffffffffffffffffffffffdkskkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkksssssssssssssssssssssssssssskkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkks</p>
    <h2>Successful tips</h2>
    <p>ff</p>
    <button></button>
    <p>ff</p>
    <button></button>
    <p>fff</p>
    <button></button>
    <p>ff</p>
    <button></button>
  </body>
  
</html>