* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  background: #5a0a5c;
  display: flex;
  justify-content: space-between;
  
}